FEE_PAYER=
PORT=9898
MONGODB_URI=
NETWORK=
NOTIFICATIONS_ENABLED=
SHYFT_KEY=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PUBLIC_BUCKET_NAME=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
APP_URL=
ONBOARDING_BONUS=5
ONBOARDING_ENABLED=true