ENV=DEV
FEE_PAYER=
PORT=9898
MONGODB_URI=
NETWORK=
NOTIFICATIONS_ENABLED=
SHYFT_KEY=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PUBLIC_BUCKET_NAME=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
APP_URL=
ONBOARDING_BONUS=5
ONBOARDING_ENABLED=true
BONUS_RETURN_ENABLED=true
BONUS_WALLET_EXPIRATION_INTERVAL_MIN=1
BONUS_RETURN_FREQUENCY=1minute
DEPLAN_MINT=
AIRDROP_SIZE="1000000000000"
AIRDROP_SENDER_PUBLIC_KEY=
AIRDROP_WALLET_SECRET_KEY=
DEPLAN_TWITTER_ID=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=